section.main_area h1,h2 {
    text-align: center;
}
section.main_area h1 {
    font-size: 2em;
    margin: 0;
}


section.main_area p.messages {
    text-align: center;
    color:red;
    font-style: italic;
    text-decoration: underline;
}

section.main_area form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: transparent;
}

section.main_area form#edit_list_form {
    flex-direction: row;
    width: 100%;
    align-items: center;
}

section.main_area form#edit_project_form {
    flex-direction: row;
    width: 100%;
    align-items: center;
}

section.main_area form > label {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5em;
}

section.main_area form#edit_list_form > * {
    width: auto;
    margin: 0 10px 0 0;
}

section.main_area form#edit_list_form > textarea {
    flex-grow: 1;
}

section.main_area form#edit_project_form > * {
    width: auto;
    margin: 0 10px 0 0;
}

section.main_area form#edit_project_form > textarea {
    flex-grow: 1;
}


section.main_area form > input[type=text], 
section.main_area form > input[type=password], 
section.main_area form > input[type=date] {
    width: 50%;
    height: 4em;
    margin: 0 auto;
    -webkit-appearance: none;
    outline-width: 0;
    height: 2em;
    font-size: 1.5em;
    padding: 0;
    border-top-width: 0;
	border-bottom-width: 1;
	border-bottom-color: #FF383F;
	border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;
    
}


section.main_area table#tasks_list tr > td > input[type=text], input[type=date] {

    width: 80%;
    margin: auto;
    font-size: 1em;
    margin: 0 auto;
    -webkit-appearance: none;
    outline-width: 0;
    padding: 0;
    border-top-width: 0;
	border-bottom-width: 1;
	border-bottom-color: #FF383F;
	border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;
}

section.main_area table#tasks_list tr td {
    vertical-align: bottom;
}

section.main_area table#tasks_list tr > td#range {
    width: 7%;
    margin: auto 2px;
}

section.main_area table#tasks_list tr > td#range input {
    width: 50%;
}


section.main_area table#tasks_list tr > td#td_task_dead_line {
    width: 15%;
    margin: auto;
}

section.main_area table#tasks_list tr > td#td_task_title {
    width: 20%;
    margin: auto;
}

section.main_area table#tasks_list tr > td#td_task_desc {
    width: 40%;
    margin: auto;
}

section.main_area table#tasks_list tr > td#td_responsible {
    width: 17%;
    margin: auto;
}

section.main_area table#tasks_list tr > td#td_add {
    width: 15%;
    margin: auto;
}

section.main_area table#tasks_list tr > td > textarea {
    width: 90%;
    margin: auto;
    height: 3em;
    outline-width: 0;
    resize: none;
    margin-top: 1em;
    border: 1px solid #FF383F;
    padding: 0.5em;
}

section.main_area table#tasks_list tr > td > input[type=button] {
    width: 80%;
    height: 3em;
    outline-width: 0;
    resize: none;
    margin-top: 1em;
    border: 1px solid #FF383F;
    padding: 0.5em;
}

section.main_area table tr td input[type=text], 
section.main_area table tr td input[type=password], 
section.main_area table tr td input#tdldeadline {
    /* width: 50%; */
    /* height: 4em; */
    margin: 0 auto;
    -webkit-appearance: none;
    outline-width: 0;
    /* height: 2em; */
    /* font-size: 1.5em; */
    padding: 0;
    border-top-width: 0;
	border-bottom-width: 1;
	border-bottom-color: #FF383F;
	border-left-width: 0;
    border-right-width: 0;
    background-color: transparent;
}

section.main_area table tr td a.edit {
    margin-left: 25px;
}


section.main_area form > input:-webkit-autofill,
section.main_area form > input:-webkit-autofill:hover, 
section.main_area form > input:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

section.main_area form > input[type=submit] {
    width: 50%;
    margin: 1em auto 0 auto;
    border: solid 1px rgb(0, 0, 0);
    height: 1.5em;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    font-style: italic;
}

section.main_area form > input[type=file] {
    width: 50%;
    margin: 1em auto 11px auto;
    color: rgb(0, 0, 0);
    font-style: italic;
    
}

section.main_area form img {
    
    max-width: 200px;
    height: auto;
    margin: auto;
   
}

section.main_area form > p {
    width: 50%;
    margin: 1em auto 11px auto;
    color: #FF383F;
    font-style: italic;
    text-decoration: underline;
    
}


section.main_area form > input[disabled=disabled] {
    color: #dadada;
}

section.main_area form > input#id,input[name=projectdeadline] {
    display: none;
}

section.main_area table#tasks_list td#taskdeadline, td#user {
    display: none;
}


section.main_area table#tasks_list td label[for=compl] {
    margin:auto 0.3em;
}

section.main_area form > textarea {
    width: 50%;
    margin: auto;
    height: 5em;
    outline-width: 0;
    resize: none;
    margin-top: 1em;
    border: 1px solid #FF383F;
    padding: 0.5em;
}

section.main_area footer {
    width: 25%;
    margin: 0 auto;
    font-size: 0.9em;
}

section.main_area footer p a {
    color: #FF383F;
}

*.hidden {
    display:none;
}


section.main_area p#add_project  {

    width:50%;
    margin:auto;
    padding: 10px 0 0 0;
    text-align: center;

}

section.main_area p#add_project a {
    
   text-decoration-color: #FF383F;
   color: inherit;
   font-size: 1.5em;
    
}

section.main_area ul#team_members {

    width: 80%;
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    
}

section.main_area ul#team_members div {
    
    display: flex;
    flex-direction: column;
        
}

section.main_area ul#team_members img {
    
    width: 100px;
    height: 100px;
    margin: 10px 0;
    text-align: center;
}

section.main_area ul#team_members div button {
    
    width: 20px;
    height: 20px;
    margin: auto;
    text-align: center;
    background: url('../images/delete.svg') no-repeat;
    background-size: 100%;
    cursor: pointer;
    border-width: 0;
}

section.main_area ul#team_members li {
    
    margin:0 20px;
    text-align: center;
    font-size: 0.9em;
    
}

section.main_area > div {
    
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top:2em;
        
}

section.main_area a#edit_members {
    
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 1px solid black;
    padding: 1em;
        
}

section#edit_proj_team a {
    color:inherit;
}

section#edit_proj_team div#new_member_div {

    text-align: center;

}


