@media(max-width: 40em){

    /* MOBILE RESPONSIVE CSS */

    body nav#menu{
        display: none;
    }

    body section#register form{
        width: 100%;
    }

    body section#register form label[for="username"]{
        text-align: center;
    }

    body section#register form input[type="text"]{
        width: 80%;
        text-align: center;        
    }

    body section#register form label[for="pwd"]{
        text-align: center;
    }

    body section#register form input[type="password"]{
        width: 80%;
        text-align: center;        
    }

    body section#register form label[for="repeatPassword"]{
        text-align: center;
    }

    body section#register form input[type="password"]{
        width: 80%;
        text-align: center;        
    }


    body section#register form label[for="fullname"]{
        text-align: center;
    }
    
    body section#register form input[type="text"]{
        width: 80%;
        text-align: center;        
    }

    body section#register form label[for="bio"]{
        text-align: center;
    }
    
    body section#register form textarea{
        width: 80%;
        text-align: center;        
    }

    body section#login form{
        width: 100%;
    }

    body section#login form label[for="username"]{
        text-align: center;
    }

    body section#login form label[for="password"]{
        text-align: center;
    }

    body section#login form input[type="text"]{
        width: 80%;
        text-align: center;
    }

    body section#login form input[type="password"]{
        width: 80%;
        text-align: center;
    }


	body div#profile h3 {
        display: none;
	}

    body img{
        display: none;
    }

    body section#tasks table th.mobileHidden{
        display: none;
    }

    body section#tasks table th#taskTitle{
        width: 30%;
    }

    body section#tasks table th#taskDateDue{
        width: 20%;
    }

    body section#tasks table th#percentageCompleted{
       width: 10%;
    }

    body section#tasks table td#semaphore div{
        margin-left: 50%;
     }
    
    body section#tasks table tr td.mobileHidden{
        display: none;
    } 

}