@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed");

body{
    width: 100%;
    margin:  0 auto;
    background-color: #EFEFEF;
    background-image: url('../images/office-view.jpg');           
    font-family: 'Barlow Condensed', sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto;
}


body > header {
    background-color: rgb(199, 43, 51);
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 7% 10%;
    grid-template-rows: 1fr;
    height: 80px;
    /* visibility: hidden; */
}

body > header > div#logo h1 {
    margin:0;
}

body > header div#logo > h1 > a {
    margin-top: 0;
    color: #EFEFEF;
    text-decoration: none;
}

body > header div#logo > h2 {
    font-size: 0.9em;
    text-align: left;
}

body > header > img {
    border-radius: 40px;
    width: 80px;
    height: 80px;
}

body > header  h1 > img {
    width: 30px;
    height: 30px;
} 

body > header div#profile > h3{
    margin-bottom: 0;
    text-align: right;
}

body > header div#profile > h3 > a {
    
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}


body > header div#profile> h4 {
    font-size: 0.9em;
    text-align: right;
    margin-top: 10px;
}

body > header div#profile> h4 > a {
    color: white;
    text-decoration: none;
}

body > header div > h2{
    margin-top: 0;
    color: #EFEFEF; 
}

body > nav#menu {
    border-top: 1px solid rgb(34, 31, 31);
    border-bottom: 1px solid rgb(34, 31, 31);
    grid-area: 2 / 1 / span 1 / span 1;
}

body > nav#menu ul {
    display: flex;
    list-style: none;
    background-color: #EFEFEF;
    margin: 0;
    justify-content: center;

}

body > nav#menu > ul > li {
    flex-grow: 1;
    padding: 1em;
}

body > nav#menu > ul > li > a {
    text-decoration: none;
    padding: 1em;
    color: rgb(34, 31, 31);
}

body > nav#menu > ul > li > a:hover {
    background-color: rgb(201, 199, 199);
    color:#EFEFEF;
}

body > nav#menu > ul > li > a > img {
    width: 1em;
    height: 1em;
}

body > section.main_area {
    margin:1em 0.5em;
    background-color: transparent;    
}

body > section.main_area > table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

body > section.main_area > table tr > th {
    text-align: left;
    border-bottom: 3px solid #FF383F;
    padding-bottom: 1em; 
}

body > section.main_area > table tr > td {
    text-align: left;
    padding: 1em 0; 
    border-bottom: 1px solid #FF383F;
}

body > section.main_area > table tr > td > a {
    text-decoration: none;
    color: black;
}

body > section.main_area > table tr > td > img {

    border-radius: 15px;
    width: 30px;
    height: 30px;

}

body > section.main_area > table tr > td > a > img {
    
        width: 30px;
        height: 30px;
    
    }

body > footer {

    background-color: rgb(199, 43, 51);
    grid-area: 4 / 1 / span 1 / span 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    border-top: 1px solid rgb(34, 31, 31);
    /* visibility: hidden; */

}

body > footer > p {
    margin: 0;
    padding: 0.4em;
    color: #EFEFEF;
    font-size: 0.9em;
}

body > footer > p:last-of-type {
    text-align: right;
}

