@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed");

body{
    width: 100%;
    margin:  0 auto;
    background-color: #EFEFEF;
    background-image: url('../images/office-view.jpg');
    background-attachment: fixed;
    font-family: 'Barlow Condensed', sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: auto;
}


body > header {
    background-color: rgb(199, 43, 51);
    margin: 0;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 7% 10%;
    grid-template-rows: 1fr;
    height: 80px;
    /* visibility: hidden; */
}

body > header > div#logo h1 {
    margin:0;
}

body > header div#logo > h1 > a {
    margin-top: 0;
    color: #EFEFEF;
    text-decoration: none;
}

body > header div#logo > h2 {
    font-size: 0.9em;
    text-align: left;
}

body > header > img {
    border-radius: 40px;
    width: 80px;
    height: 80px;
}

body > header  h1 > img {
    width: 30px;
    height: 30px;
} 

body > header div#profile > h3{
    margin-bottom: 0;
    text-align: right;
}

body > header div#profile > h3 > a {
    
    margin-bottom: 0;
    color: white;
    text-decoration: none;
}


body > header div#profile> h4 {
    font-size: 0.9em;
    text-align: right;
    margin-top: 10px;
}

body > header div#profile> h4 > a {
    color: white;
    text-decoration: none;
}

body > header div > h2{
    margin-top: 0;
    color: #EFEFEF; 
}

body > nav#menu {
    border-top: 1px solid rgb(34, 31, 31);
    border-bottom: 1px solid rgb(34, 31, 31);
    grid-area: 2 / 1 / span 1 / span 1;
}

body > nav#menu ul {
    display: flex;
    list-style: none;
    background-color: #EFEFEF;
    margin: 0;
    justify-content: center;

}

body > nav#menu > ul > li {
    flex-grow: 1;
    padding: 1em;
    font-weight: bold;
}

body > nav#menu > ul > li.active {
    text-decoration: underline;
    text-decoration-color: rgb(199, 43, 51);
}

body > nav#menu > ul > li > a {
    text-decoration: none;
    padding: 1em;
    color: rgb(34, 31, 31);
}


body > nav#menu > ul > li > a:hover {
    background-color: rgb(201, 199, 199);
    color:#EFEFEF;
}

body > nav#menu > ul > li > a > img {
    width: 1em;
    height: 1em;
}

body > section.main_area {
    margin:1em 0.5em;
    background-color: transparent;    
}

body > section.main_area > table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

/*TODO: Add some css to task_completed*/
body>section.main_area>table tr.task_completed {
    background-color: rgb(148, 255, 162)
}


body > section.main_area > table tr > th {
    text-align: left;
    border-bottom: 3px solid #FF383F;
    padding-bottom: 1em; 
}

body > section.main_area > table tr > th > div.div_order_by {
    display: inline-block;
    cursor: pointer;
}

body > section.main_area > table tr > th > div.div_order_by > img {
    height: 10px;
    width: 10px;
    padding-left: 4px;
    padding-right: 10px;
}

body > section.main_area > table tr > th > label[for='show_completed'] {
    font-size: 80%;
    color: rgb(34, 31, 31);
}

body > section.main_area > table tr > td {
    text-align: left;
    padding: 0.75em 0;
    border-bottom: 1px solid #FF383F;
}



body > section.main_area > table tr > td > a {
    text-decoration: none;
    color: black;
}

body > section.main_area > table tr > td > img {

    border-radius: 15px;
    width: 30px;
    height: 30px;

}

body > section.main_area > table tr > td > a > img {
    
        width: 20px;
        height: 20px;
    
}

body > section.main_area > table div#task_semaphore {
    
        border-radius: 7.5px;
        width: 12px;
        height: 12px;
        background-color: hsl(0, 100%, 50%);
        border-style: solid;
        border-width: 1px;
    
}

/* @keyframes taskCompleted {
    0% {
        opacity: 1;
        height: 20px;
    }
    100% {
        opacity: 0;
        visibility: hidden;
        height: 0px;
    }
} */



body > section#view_todo_list > label {

    display: block;
    /* width: 100%; */
    border: 1px solid black;
    padding: 1em;
    font-size: 1.2em;


}

body > section#view_todo_list > div > textarea#list_desc {

    width: 100%;
    resize: none;
    background-color: transparent;
    border: 0px;
}

body > section#view_todo_list > div {
  border:1px solid #999999;
  margin:0 0 1em 0;
  padding:3px;
}

body > section table#lists_list tr td > form > input#delete_list {

    background: url('../images/delete.svg');
    background-size: 100%;
    padding: 0;
    margin: auto;
    width: 1em;
    height: 1em;
    border-width: 0;
    cursor: pointer;

}

body > section table#lists_list tr td > form.disabled > input#delete_list {
    
    background: url('../images/delete_disabled.svg');
    background-size: 100%;
    padding: 0;
    margin: auto;
    width: 1em;
    height: 1em;
    border-width: 0;


}


body > section#view_project > label {
    
       display: block;
       /* width: 100%; */
       border: 1px solid black;
       padding: 1em;
       font-size: 1.2em;    
    }
    
body > section#view_project > div > textarea#proj_desc {
  
       width: 100%;
       resize: none;
       background-color: transparent;
       border: 0px;
}
    
body > section#view_project > div
{
     border:1px solid #999999;
     margin:0 0 1em 0;
     padding:3px;
}


body > footer {

    background-color: rgb(199, 43, 51);
    grid-area: 4 / 1 / span 1 / span 1;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    border-top: 1px solid rgb(34, 31, 31);
    /* visibility: hidden; */

}

body > footer > p {
    margin: 0;
    padding: 0.4em;
    color: #EFEFEF;
    font-size: 0.9em;
}

body > footer > p:last-of-type {
    text-align: right;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 80%;
    height: 7px;
    background: #858484;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-right: 15px;
}

input[type='range']:hover {
    opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(199, 43, 51);
    cursor: pointer;
    border-radius: 7.5px;
}

input[type='range']::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: rgb(199, 43, 51);
    cursor: pointer;
    border-radius: 7.5px;
}


